

body {

    font: 15px Arial, sans-serif;
    background-color: #333333;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "." "ay" ".";
    height: 100vh;
}


#midcolumn {
    grid-area: ay;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto 15px auto 1fr;
    grid-template-areas: ". yo yo ." ". . . ." ". ay . ." ". . . .";
}

#paintcanvas {
    grid-area: yo;
    background:#fff;
    border: 2px solid rgb(255, 255, 255);
    /*box-shadow: 0px 0px 30px -10px rgb(0,255,0);*/
    border-radius: 5px;
    float:left;
    cursor: crosshair;

 }

 .doc-link-small {
     display: block;
     color: yellow;
 }

 #coords {
    background-color:white;
    /*transform: translate(10px,-50px);*/
    padding: 10px;
    grid-area: ay;
    border-radius: 5px;
    display: grid;
    border: 2px solid white;
    grid-template-columns: 10px 10px 30px 10px 10px 10px 30px;
    grid-template-areas: "x . x_val . y . y_val";
 }

#x {
    grid-area: x;
}
#x_val {
grid-area: x_val;
}
#y {
    grid-area: y;
}
#y_val {
    grid-area: y_val;
}